<p>Bienvenido @{{user.username}}</p>

<p>
    Para iniciar<b> Compart Ride </b>
    necesita usted visitar el siguiente link  <a href="#">link</a> y enter el siguiente codigo
</p>

<p style="text-align: center;">
    <code style="text-align: center;">
        {{token}}
    </code>
</p>